[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"